#content {
  /* background: linear-gradient(#fff, var(--second-color)); */
  /* background-color: var(--second-color); */
  position: absolute;
  right: 0;
  width: 100%;
  transition: 0.7s;
  z-index: 2;
}

#content.active {
  right: 200px;
}

#welcome {
  align-items: center;
  padding-top: 4rem;
}

.welcome-content img {
    max-width:100%;
    width: 100%;
    height: 100vh;
}

.txt1 {
  position: absolute;
  top: 220px;
  right: 100px;
  font-size: 37px;
  font-weight: 100;
  color: #fff;
}

.txt2 {
  position: absolute;
  top: 345px;
  right: 100px;
  font-size: 25px;
}

.txt3 {
  position: absolute;
  top: 395px;
  right: 100px;
  font-size: 25px;
}

.services-title {
  text-align: center;
  font-weight: 200;
  font-size: 30px;
  font-weight: 200;
}

#services {
  padding: 3rem 3rem 3rem 3rem;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 3fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  background-color: #eeeeee;
  justify-self: center;
}

#services .service-item {
  text-align: center;
}

.service-item img {
  width: 150px;
  height: 150px;
}

.service-item p {
  color: rgb(27, 159, 163);
  font-weight: 200;
  font-size: 19px;
}

#services .card {
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  background-color: #fff;
  border-radius: 8px;
}

#services .card img {
  max-width: 100%;
  width: 100%;
  border-radius: 8px;
}

#services .card .text {
  font-weight: 200;
  padding: 0 20px 20px;
}

#services .card .text button {
  background-color: var(--first-color);
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  transition: all 0.5s;
  cursor: pointer;
}

#services .card .text button:hover {
  background-color: var(--dark-color);
}

.work-examples-title {
  text-align: center;
  font-weight: 200;
  margin: 3rem 0;
  font-size: 30px;
  padding: 0;
  background: #fff;
}

#work-examples {
  background-color: var(--first-color);
  padding: 1rem 3rem 3rem 4rem;
  margin-top: 3rem;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 3fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 9px;
  /* background-color: var(--second-color); */
  justify-self: center;
  overflow: hidden;
  height: auto;
}

/* .work-examples-container:before {
  content: '';
  position: absolute;
  height: 60px;
  bottom: -420px;
  left: 0;
  right: 0;
  background: rgb(27, 159, 163);;
  transform: skewY(1deg);
  -webkit-transform: skewY(1deg);
  -moz-transform: skewY(1deg);
  -ms-transform: skewY(1deg);
} */

#work-examples img {
  max-width:100%;
  width: 100%;
  height: 100%;
  /* height: auto; */
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 8px;
}

#work-examples img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#parent {
  overflow: hidden;
  position: relative;
  display: block;
  cursor: pointer;
  width: 100%;
  height: 228px;
  opacity: 0.85;
  transition: all 0.5s;
}

#parent:hover {
  opacity: 1;
}

#contact {
  padding: 2rem 3rem 3rem 3rem;
  text-align: center;
}

#contact h1 {
  font-weight: 200;
  font-size: 30px;
}

#contact p {
  font-size: 14px;
}

#footer {
  padding: 1.5rem 5rem 4.5rem 5rem;
  background-color: black;
  color: var(--second-color);
  height: 3rem;
}

#footer ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.copy2021 {
  display: block;
  text-align: center;
  font-weight: 100;
  font-size: 12px;
  color: var(--first--color);
}

#footer ul li {
  list-style: none;
}

#footer ul li a {
  text-decoration: none;
  color: var(--light-color);
  font-weight: 100;
  font-size: 13px;
}

/* Mobile menu */
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu ul {
  position: relative;
  padding: 0;
}

.menu ul li {
  list-style: none;
  margin: 20px 0;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: var(--dark-color);
  font-weight: 200;
}

.menu ul li a:hover {
  color: var(--first-color); 
}

/* Media queries */
@media screen and (max-width: 976px) {
  .txt1 {
    position: absolute;
    top: 220px;
    right: 50px;
    font-size: 28px;
    font-weight: 100;
    color: #fff;
  }

  .txt2 {
    position: absolute;
    top: 295px;
    right: 50px;
  }

  .txt3 {
    position: absolute;
    top: 325px;
    right: 50px;
  }
}

/* Tablets */
@media screen and (max-width: 768px) {
  .txt1 {
    position: absolute;
    top: 220px;
    right: 30px;
    font-size: 28px;
    font-weight: 100;
    color: #fff;
  }

  .txt2 {
    position: absolute;
    top: 295px;
    right: 30px;
  }

  .txt3 {
    position: absolute;
    top: 325px;
    right: 30px;
  }

  #services {
    padding: 2rem 3rem 5rem 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-gap: 40px;
    text-align: center;
    background-color: var(--second-color);
    align-items: center;
    justify-items: center;
    place-self: center;
  }

  #work-examples {
    background-color: var(--first-color);
    padding: 1rem 3rem 3rem 4rem;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    /* grid-template-columns: 3fr 3fr 3fr; */
    grid-gap: 12px;
    /* background-color: var(--second-color); */
    justify-self: center;
    overflow: hidden;
    height: auto;
  }

  #parent {
    opacity: 1;
  }

  #parent:hover {
    opacity: 0.85;
  }
}

/* mobile */
@media screen and (max-width: 480px) {
  nav {
    display: none;

  }

  .txt1 {
    position: absolute;
    top: 370px;
    right: 30px;
    font-size: 28px;
    font-weight: 100;
    color: #fff;
  }

  .txt2 {
    position: absolute;
    top: 435px;
    right: 30px;
  }

  .txt3 {
    position: absolute;
    top: 475px;
    right: 30px;
  }

  #footer {
    background-color: #000;
    height: auto;
    padding: 1rem 2rem 1rem 2rem;
  }

  #footer ul {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-direction:  column;
    width: 90%;
    margin-bottom: 23px;
  }

  #footer ul li {
    margin: 7px 0;
  }

  #footer ul li a {
    font-size: 14px;
  }
}