{% extends 'base.html' %}
{% load static %}

{% block css_files %}
     <link rel="stylesheet" href="{% static 'renovate_web/index.css' %}">
     <link rel="stylesheet" href="{% static 'app.css' %}">
{% endblock  %}

{% block content %}
    <section id="content">    
        <section id="welcome">
            <div class="welcome-content">
                <img src="{% static 'renovate_web/images/welcome-page.jpg' %}" alt="">
                    <p class="txt1">Best services in paris</p>
                    <p class="txt2">Reliable work</p>
                    <p class="txt3">No additional procesdures needed</p>
            </div>
        </section>

        <h2 class="services-title">Services</h2>
        <div class="services-container">
            <section id="services">
                <div class="service-item">
                    <img src="{% static 'renovate_web/images/quality.svg' %}" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, nobis.</p>
                </div>

                <div class="service-item">
                    <img src="{% static 'renovate_web/images/legal.svg' %}" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, nobis.</p>
                </div>

                <div class="service-item">
                    <img src="{% static 'renovate_web/images/professional.svg' %}" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, nobis.</p>
                </div>
                <!-- <div class="card">
                    <img src="{% static 'renovate_web/images/renovation-services.jpeg' %}" alt="Sample photo">
                    <div class="text">
                        <h3>Seamlessly visualize quality</h3>
                        <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
                        <button>Here's why</button>
                    </div>
                </div>

                <div class="card">
                    <img src="{% static 'renovate_web/images/renovation-services.jpeg' %}" alt="Sample photo">
                    <div class="text">
                        <h3>Seamlessly visualize quality</h3>
                        <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
                        <button>Here's why</button>
                    </div>
                </div>

                <div class="card">
                    <img src="{% static 'renovate_web/images/renovation-services.jpeg' %}" alt="Sample photo">
                    <div class="text">
                        <h3>Seamlessly visualize quality</h3>
                        <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
                        <button>Here's why</button>
                    </div>
                </div> -->
            </section>
        </div>

        <h2 class="work-examples-title">Work Examples</h2>
        <div class="work-examples-container">
            <section id="work-examples">
                <div id="parent">
                    <img src="{% static 'renovate_web/images/work-examples.jpeg' %}" alt="">
                </div>
                <div id="parent">
                    <img src="{% static 'renovate_web/images/work-examples.jpeg' %}" alt="">
                </div>
                <div id="parent">
                    <img src="{% static 'renovate_web/images/work-examples.jpeg' %}" alt="">
                </div>
                 <div id="parent">
                    <img src="{% static 'renovate_web/images/work-examples.jpeg' %}" alt="">
                </div>
                <div id="parent">
                    <img src="{% static 'renovate_web/images/work-examples.jpeg' %}" alt="">
                </div>
                <div id="parent">
                    <img src="{% static 'renovate_web/images/work-examples.jpeg' %}" alt="">
                </div>
            </section>
        </div>

        <section id="contact">
            <h1>Contact Info</h1>
            <p>Phone: 545454545454</p>
            <p>Email: renowalhomw@gmail.com</p>
            <p>Facebook: ...</p>
        </section>

        <section id="footer">
            {% comment %} <span id="footer"></span> {% endcomment %}
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Terms and Conditions</a></li>
            </ul>
            <span class="copy2021">&copy; 2021 All rights reserved </span>
        </section>
    </section>


    <div class="menu">
        <ul>
            <li><a href="#">Services</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
{% endblock  %}