@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --first-color: rgb(27, 159, 163);
  --second-color: #cfcfcf;
  --light-color: #e9e9e9;
  --dark-color: #313c3d;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Sora', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Sora', sans-serif;
}

#main-navigation {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--first-color);
  z-index: 4;
}

#main-navigation span a {
  text-decoration: none;
  font-size: 20px;
  color: var(--dark-color);
}

#main-navigation nav a {
  text-decoration: none;
  transition: color 0.5s, border 0.5s;
  margin-left: 1.5rem;
  color: var(--dark-color);
  align-items: center;
  text-align: center;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 7px;
  border: 1px solid var(--first-color);
  font-weight: 300;
}

#main-navigation nav a:hover,
#main-navigation nav a:active {
  color: var(--light-color);
  border: 1px solid rgb(43, 43, 43);
}

#main-navigation h1 a:hover,
#main-navigation h1 a:active {
  color: white;
}

.toggle {
  position: relative;
  width: 45px;
  height: 45px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
  z-index: 10;
}

.toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #main-navigation nav {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) {
  .toggle {
    display: none;
    visibility: hidden;
  }
}